body {
  padding: 0;
  margin: 0;
}
#container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 146, 242);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#container.isload::after {
  content: attr(data-message);
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgb(0, 0, 0);
  filter: opacity(0.7);
}
#container .form,
#container .show {
  width: 100%;
  height: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form select,
.form input {
  width: 80%;
  padding: 16px;
  margin: 8px 8px;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
  color: rgb(160, 160, 160);
}
button {
  width: 200px;
  padding: 8px 16px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin: 8px;
}
button:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: rgb(29, 146, 242);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.show {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 64px 0px 0px 64px;
}
.show .data {
  width: 80%;
  padding: 24px 48px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  box-shadow: 3px 5px 5px #ccc;
}
.show .data > div {
  display: flex;
  flex-direction: row;
}

.show .data > div > p {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#_ruc,
#razon_social,
#estado,
#direccion,
#ubigeo,
#departamento,
#provincia,
#distrito {
  padding-left: 8px;
  color: rgb(119, 119, 119);
}
